body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
  }

  .botonColorido{
    padding: 10px;
    border-radius: 10px;
    background-color: #277615;
  }
  
  .botonColorido:hover{
    color: #ddd;
    background-color: #277615;
  }
  
  #navbar {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  #navbar a {
    color: white;
    margin: 5px;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  #navbar a:hover {
    background-color: #388e3c;
  }

  .letras-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .letra-section {
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .letra-section img {
    max-width: 250px;
    height: auto;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-top: 2px solid #ccc;
    margin-top: 50px;
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-left li {
    margin-bottom: 8px;
  }
  
  .footer-left a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .footer-left a:hover {
    color: #007bff;
  }
  
  .footer-right img {
    width: 80px;
    height: auto;
    border-radius: 8px;
  }

  .img-seleccionada {
    border: 4px solid #ff5722; /* color naranja fuerte */
    box-shadow: 0 0 15px rgba(255, 87, 34, 0.6);
    transition: all 0.3s ease;
  }
  